/* General CSS */
:root {
  --background: #edf2f4; 
  --accent-1: #2b2d42; 
  --accent-1-hover: #37394e; 
  --accent-2: #8d99ae; 
  --accent-3: #bdc5d1;
  --emphasis: #ee5d5d;
  --emphasis-alt: #eda6a7;  
  --text-color: #fff; 
}

::selection {
  background-color: #6a97c5;
}

html {
  background: var(--background); 
  font-family: 'Noto Sans', sans-serif; 
  transition: background 1.2s; 
}

body {
  margin: 0;
}

button {
  font-family: 'PT Sans', 'Noto Sans', sans-serif;
  border-radius: 0;
  border: none; 
  background: var(--accent-1); 
  color: var(--text-color);
  box-shadow: 4px 4px 0px var(--accent-2);
  font-size: 14px;
  font-weight: 600;
  width: 160px; 
  height: 40px;
  transition: all 0.16s; 
}

button:not([disabled]):hover {
  background: var(--accent-1-hover); 
  cursor: pointer;
}

button:not([disabled]):active {
  background: var(--accent-1-hover); 
  box-shadow: 0px 0px 0px var(--accent-2);
  transform: translateX(4px) translateY(4px);
}

h1 {
  font-family: 'PT Sans', 'Noto Sans', sans-serif;
  font-size: 3.4rem;
  margin: 0;
  color: var(--accent-1);
}

h2 {
  font-family: 'PT Sans', 'Noto Sans', sans-serif;
  font-size: 2.4rem;
  margin: 0;
  margin-bottom: 1.2rem;
  color: var(--accent-1);
  text-decoration: underline;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
  color: var(--accent-2);
}

p {
  color: var(--accent-1);
  font-size: 1rem;
  line-height: 2;
  margin: 2rem 0;
}

@keyframes fade-out {
  from {
    transform: translateY(0px); 
    opacity: 1;
  }

  to {
    transform: translateY(-16px); 
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    transform: translateY(16px); 
    opacity: 0;
  }

  to {
    transform: translateY(0px); 
    opacity: 1;
  }
}

#div-main {
  position: absolute;
  top: 0px; 
  width: 100%; 
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#div-main > div {
  text-align: center;
  margin: auto;
  max-width: 720px;
  /* height: ; */
}

.slide {
  display: none;
}

.v-padding {
  width: 1px;
  height: 80px;
}

/* Slide specific CSS */

#div-main #div-choosePolicy {
  width: inherit; 
  max-width: 1200px;
}

#div-choosePolicyGrid {
  display: grid;
  grid-template-columns: 33.3% 33.4% 33.3%;
}

#div-choosePolicyGrid div p {
  color: var(--accent-2);
}

#div-choosePolicyGrid div button {
  font-size: 1.8rem;
  width: 220px;
  height: 300px;
}

/* Policy documents */
.div-policy {
  padding: 80px 0;
}

.div-policy-inner {
  text-align: left;
  background: var(--accent-2); 
  box-shadow: 8px 8px 0px var(--accent-3);
  padding: 60px;
}

.div-policy-inner *{
  color: var(--text-color);
}

.policy-flag {
  background: var(--accent-2); 
  transition: all 0.4s;
}

/* Popup */
#div-popup {
  display: none;
  position: absolute;
  width: 240px;
  height: 120px;
  padding: 20px;
  border: 8px solid var(--emphasis-alt);
  background: var(--emphasis); 
}

#div-popup h2 {
  color: var(--text-color);
  text-decoration: none;
}

#div-popup button {
  box-shadow: none;
  background: none; 
  border: 1px solid var(--text-color);
}

#div-popup button:active {
  background: #ffffff4f;
  transform: none;
}